.layout {
  display: flex;
  min-height: 100vh;
  background: #0f1f4a;
}

.sidebar {
  width: 260px;
  background: #0f1f4a;
  color: #fff;
  padding: 1.5rem 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.orgBlock h3 {
  font-size: 1.1rem;
  margin-bottom: 0.4rem;
}

.orgBlock select {
  width: 100%;
  padding: 0.45rem;
  border-radius: 8px;
  border: none;
  font-size: 0.8rem;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.navItem {
  background: transparent;
  border: none;
  color: #cdd6ff;
  text-align: left;
  padding: 0.65rem 0.8rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.navItem:hover {
  background: rgba(255, 255, 255, 0.12);
  color: #fff;
}

.active {
  /*background: #ffffff;
  color: #0f1f4a; */
  font-weight: 600;

  background: rgba(255, 255, 255, 0.12);
  color: #fff;
}

.main {
  flex: 1;
  padding: 0.5rem;
}

.workspace {
  background: #fff;
  border-radius: 26px;
  height: 100%;
  padding: 2rem 2.5rem;
  box-shadow: 0 30px 70px rgba(30, 20, 80, 0.15);
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.header h1 {
  color: #1f2a44;
}

.branchTag {
  font-size: 0.8rem;
  padding: 0.3rem 0.7rem;
  border-radius: 20px;
  background: #f2efff;
  color: #4b3fa7;
}

.content {
  flex: 1;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
  margin-top: 1.5rem;
}

.statCard {
  background: linear-gradient(180deg, #f7f6ff, #ffffff);
  border-radius: 18px;
  padding: 1.5rem;
  box-shadow: 0 10px 25px rgba(100, 90, 200, 0.15);
  color: #2b2f4a;
  font-size: 0.95rem;
}

.statCard b {
  font-size: 1.8rem;
  display: block;
  margin-top: 0.5rem;
}



.divider {
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
  margin: 0.8rem 0;
}

.workspaceBlock {
  font-size: 0.85rem;
}

.workspaceTitle {
  background: transparent;
  border: none;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  padding: 0.4rem 0;
}

.tree {
  margin-left: 0.6rem;
  margin-top: 0.4rem;
  color: #cdd6ff;
}

.state {
  cursor: pointer;
  padding: 0.2rem 0;
  font-weight: 500;
}

.branch {
  margin-left: 1rem;
  font-size: 0.75rem;
  opacity: 0.9;
}

.usersTitle {
  margin-top: 0.6rem;
  font-size: 0.7rem;
  text-transform: uppercase;
  opacity: 0.6;
}

.user {
  margin-left: 0.6rem;
  font-size: 0.75rem;
}

.bottomNav {
  margin-top: auto;
}

.logout {
  background: transparent;
  border: none;
  color: #ffb4b4;
  text-align: left;
  padding: 0.65rem 0.8rem;
  border-radius: 10px;
  cursor: pointer;
}

.logout:hover {
  background: rgba(255, 80, 80, 0.15);
}

